* {
    margin: 0;
    padding: 0;
}
.alert {
    background-color: rgb(255, 255, 255);
    border-left: 5px solid rgb(39, 196, 64);
    padding: 1.2em;
    margin: 1.4em;
}

.yellow {
    border-color: rgb(245, 245, 80);
}
body {
    font-family: Helvetica, Arial, sans-serif;

    background-color: rgb(220, 250, 230);
}
h2{
    font-size: large;
    padding: 10px ;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 6em;

}
label {
    display: block;
    margin: 0;
    padding: 10px ;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 100px;
    font-size: large;
}

nav>div>div {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(39, 196, 64);
    width: 100%;
}


nav input {
    position: fixed;
    top: -40px;
}
nav>div:hover>div{
    display: flex;
}

nav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: rgb(39, 255, 64);
}

h3 {
    margin: 0;
}
nav {
    background-color: rgb(39, 156, 64);
    display: flex;
    flex-direction: row;
}

nav>div:hover,
nav>div:focus {
    background-color: rgb(39, 196, 64);
    position: relative;
}

